 <%= form_for(@look) do |f| %>
 <div class="container">
      <div class="form-group"> 
        <%#= image_tag @product.avatar.url(:preview)%>
      </div>
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" , :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :neckwear %><br>
        <%#binding.pry%>
        <%= f.select(:neckwear , Accessory.where("variant IN (?)", "neckwear").pluck(:acc_name,:id),{:prompt => 'Please select bow type'},class:'work') %>
        <div>
        <br />
        <img id="img_neckwear"</img>
        </div>
        <div id ="price_neckwear">
            0
        </div>
      </div>

      <div class="form-group">
        <%= f.label :shirts %><br>
        <%= f.select(:shirts,Accessory.where("variant IN (?)", "shirts").pluck(:acc_name,:id),{:prompt => 'Please select shirt type'},class:'work') %>
        <div>
        <br />
        <img id="img_shirts"></img>
        </div>
        <div id = "price_shirts">
            0
        </div>
        </div>
     
      <div class="form-group">
        <%= f.label :shoes %><br>
        <%= f.select(:shoes, Accessory.where("variant IN (?)", "shoes").pluck(:acc_name,:id),{:prompt => 'Please select shoe type'},class:'work') %>
        <div>
        <br />
            <img id="img_shoes"></img>
        </div>
        <div id = "price_shoes">
           0
        </div>
      </div>

      <div id = "total_price">  
      0
      </div>
      
        <%= f.hidden_field :product_id, :value => params[:product_id] %>
        <%= f.hidden_field :user_id, :value => current_user.id rescue nil %>
     <hr>
        <%= f.submit 'Submit', class: 'btn btn-default' %>      
  </div>
<%end%>

<script>

$(".work").change(function() {

    var id = $(this).val();
    var total = 0;
    if (id){
        $.ajax({
            // headers: { "Accept": "application/json"},
            crossDomain: true,
            dataType: 'json',  // not jsonp
            url: "http://localhost:3000/api/v1/accessories/" + id,
            success: function(response) {
                $('#img_'+response.variant).attr('src',response.avatar_url)
                $('#price_'+response.variant).html(response.price)
                total = total + (response.price || 0);
                $('#total_price').html("Total: " +total)
                calculateTotal();
            }


        });
    }
    
});  
function calculateTotal(){
    var a =parseFloat($('#price_shirts').text()); 
    var b =parseFloat($('#price_shoes').text());
    var c =parseFloat($('#price_neckwear').text());
    var  d = a + b + c;
    $('#total_price').html(d)
}
</script>