<div class="row">
	<% @looks.each do |f| %>
<div class="col-sm-6 col-md-4">
<div class="thumbnail">
	<%#= image_tag f.acc_avatar.url(:thumb) %>
<div class="caption">
<h3><%= f.name %></h3>
<p><%= f.neckwear %></p>
<p><%= f.price %></p>
<p><%= f.shoes %></p>
<p>
	<%= link_to 'Show',  look_path(f) , :class => "btn btn-primary"%>
	<%= link_to 'Edit', edit_look_path(f), :class => "btn btn-primary" %>
	<%= link_to "Delete" , look_path(f), method: :delete , class: "btn btn-primary",  data: { confirm: 'Are you sure?' } %>
	
</div>
</div>
</div>
<% end %>
</div>