<%= form_for(@looks) do |f| %>
 <div class="container">
 	  <div class="form-group"> 
		<%#= image_tag @product.avatar.url(:preview)%>
	  </div>
	  <div class="form-group">
	  	<%= f.label :name %><br>
    	<%= f.text_field :name, class: "form-control" %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :neckwear %><br>
	  	<%#binding.pry%>
    	<%= f.select(:neckwear , Accessory.where("variant IN (?)", "neckwear").pluck(:acc_name,:id),{:prompt => 'Please select bow type'},class:'work') %>
        <div>
        <img id="img_neckwear"</img>
        </div>
        <div id = "n_price">
            Price
        </div>
	  </div>

	  <div class="form-group">
	  	<%= f.label :shirts %><br>
    	<%= f.select(:shirts,Accessory.where("variant IN (?)", "shirts").pluck(:acc_name,:id),{:prompt => 'Please select shirt type'},class:'work') %>
    	<div>
    	<img id="img_shirts"></img>
    	</div>
        <div id = "shirt_price">
            Price
        </div>
        </div>
	 
	  <div class="form-group">
	  	<%= f.label :shoes %><br>
    	<%= f.select(:shoes, Accessory.where("variant IN (?)", "shoes").pluck(:acc_name,:id),{:prompt => 'Please select shoe type'},class:'work') %>
    	<div>
    		<img id="img_shoes"></img>
    	</div>
        <div id = "shoe_price">
           
        </div>
	  </div>

      <div id = "total_price">
        Total
      </div>
      
	  	<%#= f.hidden_field :product_id, :value => @product.id%>
	  <%# binding.pry %>
	  	<%= f.submit 'Submit', class: 'btn btn-default' %>  	
  </div>
<%end%>

<script>
var total = 0;
$(".work").change(function() {
  	var id = $(this).val();
    
    if (id != null || id != ''){
        $.ajax({
            // headers: { "Accept": "application/json"},
            crossDomain: true,
            dataType: 'json',  // not jsonp
            url: "http://localhost:3000/api/v1/accessories/" + id,
            success: function(response) {
                $('#img_'+response.variant).attr('src',response.avatar_url)
                $('#shoe_price').html(response.price)
                
                total = total + (response.price || 0);
                $('#total_price').html(total)
            }


        });
    }
 	
});
  
</script>
	