<div class="row">
	<% @accessories.each do |f| %>
<div class="col-sm-6 col-md-4">
<div class="thumbnail">
	<%= image_tag f.acc_avatar.url(:thumb) %>
<div class="caption">
<h3><%= f.acc_name %></h3>
<p><%= f.variant %></p>
<p><%= f.price %></p>
<p><%= f.quantity %></p>
<p>
	<%= link_to 'Show',  admin_accessory_path(f) , :class => "btn btn-primary"%>
	<%= link_to 'Edit', edit_admin_accessory_path(f), :class => "btn btn-primary" %>
	<%= button_to 'Destroy',  admin_accessory_path(f), :method => :delete  , class: "btn btn-primary" ,   :confirm => 'Are you sure?' %> 
                                        </p>
                                         
</div>
</div>
</div>
<% end %>
</div>
<%= link_to 'New',   new_admin_accessory_path , :class => "btn btn-primary"%>

