
<table class="responsive-table"></table>
	<thead>
		<tr style="background-color:#BCAAA4;">
			<th data-field="name">Name</th>
			<th data-field="price">Price</th>
			<th data-field="quantity">Quantity</th>
			<th data-field="Total">Line-Total</th>
		</tr>
	</thead>
	<tbody>

	<%# binding.pry %>
	<% @a = 0 %>
	<% @current_order.ordered_items.each do |index, details| %>
	
	<% @item_total_price = details['look']['price'] * details['quantity']
		%>
		<tr>
			<!-- <td><%#= index %></td> -->
			<td><%= details['look']['name']%></td>
			<td><%= details['look']['price']%></td>
			<% @look_price = details['look']['price'].to_i * details['quantity'] %>
			<td><%= details['quantity']%></td>
			<td><%= @look_price %></td>
			<% @a = @look_price + @a %>
		</tr>
		</tbody>
		<% end %>
		
		<%= @a %>
	</table>