<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

<div class="full-height scroll-bar">
	<div class="pad-bottom">
	<% if @ordered_looks.length == 0 %>
		<p>Your cart is empty</p>
	<% else %>
	
	<table class="hoverable">
		<thead>
 			<tr style="background-color:#BCAAA4;"></tr>
 				<th data-field="id">S/N</th>
 				<th data-field="name">Name</th>
 				<th data-field="quantity">Price</th>
 				<th data-field="quantity">Quantity</th>
 				<th data-field="Total">Total</th>
 				<th data-field="GTotal">Final</th>
 			</tr>
		</thead>
		<tbody>
			<%# raise @ordered_looks.inspect %>
		<% @ordered_looks.each do |index, details| %>
			<% look_id = details[:look][:id] %>
			<tr>
				<td><%= index %></td>
				<td id="look_name_<%= look_id%>"><%= details[:look]['name'] %>&nbsp;</td>

				<td class="unit_price_<%= look_id%>"><%= details[:look][:price] %></td> 

				<td id="look_qty_<%= look_id %>", field="<%= details[:look][:id] %>" class= "cart_quantity"><%= form_for 'quantity', :url => {:controller => 'cart_items', :action => 'update', look_id: details[:look][:id], id: index }, method: :patch do |f| %>

					<%= f.number_field details[:quantity],  min: 1, :value =>  details[:quantity], :class => "qty qty-editable-width", "data-message" => look_id , :class => "look_qty_#{look_id}" %>
					
				 <% end %>
				</td>
					<td class="total_price_<%= look_id%>"><%= details[:quantity] * (details[:look][:price].to_i) %></td>

					<td class="final_amount">
					</td>

					<td>
					<%= button_to cart_path(look_id) , :class => "clear-button", method: :delete do %>
						<i class="glyphicon glyphicon-remove-sign"></i>
						<% end %>
					</td>
					<% end %>		
				</tr>
			</tbody>            
			<% end %>


<script type="text/javascript">
(function($) {
	$(document).on("click",".cart_quantity",function(){
	  fieldName = $(this).attr('field');
	  var a = $('.look_qty_'+fieldName).val();
	  var price = $('.unit_price_'+fieldName).text();
	 $('.total_price_'+fieldName).text(price * a)
	});
})(jQuery);

</script>

