<table>
<tr>
	<th>Name</th>
	<th>Description</th>
	<!-- <th>Image</th> -->
</tr>


<tr>
<% @products.each do |p|%>
	
<td><%= p.name %></td>
<td><%= p.description%></td>
<td><%= link_to 'Show',  products_show_path(p) %></td>
<td><%= link_to 'Edit', "#" %></td>
<td><%= link_to 'Destroy', "#" ,:confirm => 'Are you sure?', :method => :delete %></td>
</tr>
</table>
<% end %>

