<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Menguin</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application" %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
  <% if user_signed_in? %>
    <li>
      <%= link_to('My Events', new_event_path) %>
    </li>
    <li>
      <%= link_to('My Account', myaccount_path) %>
    </li>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
    </li>
    <li class="cart-holder">
      <%= link_to carts_path, class: "cart left no_left_pad", id: "cart"  do %>
        <i class="material-icons left">Cart</i>&nbsp;(<%= cart_properties['items_count']  %>)
          <% end %>  
    </li>
  <% else %>
    <li>
     <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end %>

</ul>

	 <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

<div class="container">

<%= yield %>

</div>
</body>
</html>


